<div class="toolbar-container">
  <div class="toolbar" role="toolbar">
    <div role="button" ngbTooltip="Remind me" class="toolbar-button">
      <i class="fa fa-bell"></i>
    </div>
    <div role="button" placement="left" ngbTooltip="Change color" class="toolbar-button">
      <color-picker (selected)="updateColor($event)" [colors]="colors" [currentNote]="currentNote"></color-picker>
    </div>
    <div role="button" ngbTooltip="Add image" class="toolbar-button">
      <i class="fa fa-picture-o"></i>
    </div>
    <div role="button" ngbTooltip="Archive" class="toolbar-button">
      <i class="fa fa-archive"></i>
    </div>
    <div role="button" (click)="toggleMoreMenu()" ngbTooltip="More" class="toolbar-button">
      <i class="fa fa-ellipsis-v"></i>
      <div *ngIf="showMenu" role="menu" class="menu">
        <div class="menuitem" role="menuitem" id=":2" style="user-select: none;">
          <div class="menuitem-text" (click)="sendTrash()" style="user-select: none;">Delete note</div>
        </div>
        <div class="menuitem" role="menuitem" id=":2" style="user-select: none;">
          <div class="menuitem-text" style="user-select: none;">Add label</div>
        </div>
        <div class="menuitem" role="menuitem" id=":2" style="user-select: none;">
          <div class="menuitem-text" (click)="makeCopy()" style="user-select: none;">Make a copy</div>
        </div>
      </div>
    </div>
  </div>
</div>