<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Aanmaken verslag</nb-card-header>
            <nb-card-body>
                <form [formGroup]="recordForm" (ngSubmit)="createNewRecord(recordForm)" novalidate>
                    <div class="form-group">
                        <input class="form-control" placeholder="Title" type="text" formControlName="title">
                    </div>
                    <div class="error" *ngIf="recordForm.get('title').touched && recordForm.get('title').hasError('required')">
                        Name is required
                    </div>
                    <div class="error" *ngIf="recordForm.get('title').touched && recordForm.get('title').hasError('minlength')">
                        Minimum of 2 characters
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Image" type="text" formControlName="image">
                    </div>
                    <div class="error" *ngIf="recordForm.get('image').touched && recordForm.get('image').hasError('required')">
                        Image is required
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Label" type="text" formControlName="label">
                    </div>
                    <div class="error" *ngIf="recordForm.get('label').touched && recordForm.get('label').hasError('required')">
                        Label is required
                    </div>
                    <div class="error" *ngIf="recordForm.get('label').touched && recordForm.get('label').hasError('minlength')">
                        Minimum of 2 characters
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" formControlName="content">                         
                     </textarea>
                    </div>
                    <div class="error" *ngIf="recordForm.get('content').touched && recordForm.get('content').hasError('required')">
                        Content is required
                    </div>
                    <div class="error" *ngIf="recordForm.get('content').touched && recordForm.get('content').hasError('minlength')">
                        Minimum of 2 characters
                    </div>
                    <button type="submit" class="btn btn-success" [disabled]="!recordForm.valid" *ngIf="!record">Aanmaken verslag</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>