.note-creator {
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    min-width: 20em;
    height: auto;    
  }
  .note-title {
    font-weight: bold;
    color: rgba(0,0,0,0.8);
  }
  .full {
    height: 100px;
  }

.title-container {
  
}

.note-description {
  
}